#audiovisual-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1000px;
    margin: auto auto;
}

.project-link {
    width: 150px;
}

.project-link img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-link img:hover {
    transform: scale(1.04);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
